{
    "extends": [ "plugin:astro/recommended" ],
    "overrides": [
        {
            "files": ["*.astro"],
            "parser": "astro-eslint-parser",
            "parserOptions": {
                "parser": "@typescript-eslint/parser",
                "extraFileExtensions": [".astro"],
                "sourceType": "module"
            },
            "rules": {
                "quotes": ["error", "double"],
                "space-before-blocks": ["error", "always"],
                "key-spacing": ["error", { "afterColon": true }],
                "keyword-spacing": ["error", { "before": true, "after": true }],
                "arrow-spacing": ["error", { "before": true, "after": true }],
                "block-spacing": ["error", "always"],
                "object-curly-spacing": ["error", "always"],
                "padding-line-between-statements": ["error", 
                    { "blankLine": "always", "prev": ["function", "class", "multiline-expression"], "next": "*" },
                    { "blankLine": "always", "prev": ["import", "const", "let", "var"], "next": "*" },
                    { "blankLine": "any", "prev": ["import", "const", "let", "var"], "next": ["import", "const", "let", "var"] }
                ]
            }
        },
        {
            "files": ["*.js"],
            "env": {
                "browser": true,
                "es2020": true
            },
            "parserOptions": {
                "sourceType": "module"
            },
            "rules": {
                "indent": ["error", 4, { "SwitchCase": 1 }],
                "quotes": ["error", "double"],
                "space-before-blocks": ["error", "always"],
                "key-spacing": ["error", { "afterColon": true }],
                "keyword-spacing": ["error", { "before": true, "after": true }],
                "arrow-spacing": ["error", { "before": true, "after": true }],
                "block-spacing": ["error", "always"],
                "object-curly-spacing": ["error", "always"],
                "padding-line-between-statements": ["error", 
                    { "blankLine": "always", "prev": ["function", "class", "multiline-expression"], "next": "*" },
                    { "blankLine": "always", "prev": ["import", "const", "let", "var"], "next": "*" },
                    { "blankLine": "any", "prev": ["import", "const", "let", "var"], "next": ["import", "const", "let", "var"] }
                ]
            }
        },
        {
            "files": ["**/*.astro/*.js", "*.astro/*.js"],
            "env": {
                "browser": true,
                "es2020": true
            },
            "parserOptions": {
                "sourceType": "module"
            },
            "rules": {
                "indent": ["error", 4, { "SwitchCase": 1 }],
                "quotes": ["error", "double"],
                "space-before-blocks": ["error", "always"],
                "key-spacing": ["error", { "afterColon": true }],
                "keyword-spacing": ["error", { "before": true, "after": true }],
                "arrow-spacing": ["error", { "before": true, "after": true }],
                "block-spacing": ["error", "always"],
                "object-curly-spacing": ["error", "always"],
                "padding-line-between-statements": ["error", 
                    { "blankLine": "always", "prev": ["function", "class", "multiline-expression"], "next": "*" },
                    { "blankLine": "always", "prev": ["import", "const", "let", "var"], "next": "*" },
                    { "blankLine": "any", "prev": ["import", "const", "let", "var"], "next": ["import", "const", "let", "var"] }
                ]
            }
        }
    ]
}