---
import Carousel from '../astronic/components/Carousel.astro'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astronic</title>
        <link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css"/>
        <script is:inline src="/assets/plugins/global/plugins.bundle.js"></script>
        <script is:inline src="/assets/js/scripts.bundle.js"></script>
    </head>
    <body>
        <Carousel options={{
            id: 'carousel'
        }}>
            {Array(10).fill(true).map(() => (
                <div class="text-center px-5 pt-5 pt-lg-10 px-lg-10">
                    <img src="assets/media/plugins/jstree/32px.png" class="card-rounded shadow mw-100" alt="" />
                </div>
            ))}
        </Carousel>
        <Carousel options={{
            id: 'carousel2'
        }}>
            {Array(10).fill(true).map(() => (
                <div class="text-center px-5 pt-5 pt-lg-10 px-lg-10">
                    <img src="assets/media/plugins/jstree/32px.png" class="card-rounded shadow mw-100" alt="" />
                </div>
            ))}
        </Carousel>
    </body>
</html>
<script>
    import { Astronic, AstronicType } from '../astronic/Core.astro'
    Astronic.onInit = () => {
        customElements.whenDefined('astronic-carousel').then(() => {
            const carousel1 = document.querySelector('[data-astronic-tns-id="carousel"]') as AstronicType['Carousel']
            console.log(carousel1?.getInfo())
        })
    }
    Astronic.init()
</script>
